@model ChangePassword

<h1>My Profile</h1>
<form asp-action="Password">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Update Password" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to Profile</a>
</div>